{{#extends 'base'}}

{{#block 'content'}}
<h2>Our Posters List</h2>
<a href="/posters/create" class="btn btn-primary mb-3">Create a Poster</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Date</th>
            <th>Cost</th>
            <th>Stock</th>
            <th>Width(cm)</th>
            <th>Height(cm)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        {{#each posters}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td><span class="badge badge-pill badge-info">{{this.category.name}}</span></td>
            <td>{{this.date}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.width}}</td>
            <td>{{this.height}}</td>
            <td>
                <a href="/posters/{{this.id}}/update"  class="btn btn-primary btn-sm">Update</a>
            </td>
            <td>
                <a href="/posters/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>

        </tr>
        {{/each}}
    </tbody>

</table>

{{/block}}
{{/extends}}